
<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="fHd03ijYJkmBBMOLUndJcDMwWXFXfHaR0qjDlQfI">
            <title>მანქანების გაქირავების სერვისი</title>
        <meta property="og:url" content="https://chichorent.ge/ka"/>
        <meta property="og:title" content="მანქანების გაქირავების სერვისი"/>
        <meta name="description" content="მანქანების გაქირავების სერვისი">
        <meta property="og:description" content="მანქანების გაქირავების სერვისი"/>

        <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet"/>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link href="/assets/dist/css/style.css" rel="stylesheet">
    <link href="/assets/lightbox/lightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
    <!-- Scripts -->
    <link rel="preload" as="style" href="https://chichorent.ge/build/assets/app-429cacd4.css" /><link rel="stylesheet" href="https://chichorent.ge/build/assets/app-429cacd4.css" />
</head>
<body class="font-sans antialiased">
<div class="min-h-screen bg-gray-100">
    <div class="bg-white rounded-b-xl shadow-xl py-2">
        <div class="max-w-7xl mx-auto">
            <div class="flex lg:flex-row flex-col gap-4 items-center justify-between py-2">
    <div class="flex lg:flex-row flex-wrap gap-4 ">
        <div class="text-white hover:text-gray-300  hover:shadow-lg py-2 px-4 bg-gray-700 rounded-lg">
            <span class="fa fa-home"></span>
            <a href="https://chichorent.ge/ka">მთავარი</a>
        </div>
        <div class="text-white hover:text-gray-300  hover:shadow-lg py-2 px-4 bg-gray-700 rounded-lg">
            <span class="fa fa-address-book"></span>
            <a href="#">კონტაქტი</a>
        </div>
            </div>
    <div class="flex flex-row flex-wrap gap-4 items-center ">
                    <div class="">
                <a rel="alternate" hreflang="ka"
                   href="https://chichorent.ge/ka">


                    <div class="flex flex-row gap-4">
                        <div
                            class="flex flex-row gap-2 items-center px-2 py-2 bg-gray-200 text-blue-500 border rounded-lg border-blue-500">
                            <img class="w-9 h-6 shadow-xl" src="/assets/ka.svg"
                                 alt="ქართული"/>
                            <span class="uppercase font-bold text-lg "> ka</span>
                        </div>
                                                    <span class=" bg-black w-2 h-10"></span>

                    </div>
                </a>
            </div>
                    <div class="">
                <a rel="alternate" hreflang="en"
                   href="https://chichorent.ge/en">


                    <div class="flex flex-row gap-4">
                        <div
                            class="flex flex-row gap-2 items-center ">
                            <img class="w-9 h-6 shadow-xl" src="/assets/en.svg"
                                 alt="English"/>
                            <span class="uppercase font-bold text-lg "> en</span>
                        </div>

                    </div>
                </a>
            </div>
            </div>
</div>
        </div>
    </div>
    <!-- Page Heading -->

    <!-- Page Content -->
    <main>
        <div class="bg-gray-200 min-h-screen">
        <div class="max-w-7xl mx-auto">
            <div class="w-full">
                <img class="rounded-2xl py-2 my-2" src="/assets/chichorent.jpeg" alt="მანქანების გაქირავების სერვისი">
            </div>
            <div class="grid grid-cols-12 gap-8">
                                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                                            <img class="rounded-lg " src="https://static.vecteezy.com/vite/assets/photo-masthead-375-b8ae1548.webp" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image125.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image839.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image670.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image953.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image695.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4-image72.jpg" alt="Rav4 Toyota">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Toyota-Rav4-2017"  class="text-2xl text-center  text-blue-600 font-bold py-2">Toyota Rav4</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2017</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >70$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image240.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image67.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image987.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image193.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image73.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image699.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image406.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Rav4 hybrid-image16.jpg" alt="Rav4 hybrid Toyota">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Toyota-Rav4%20hybrid-2020"  class="text-2xl text-center  text-blue-600 font-bold py-2">Toyota Rav4 hybrid</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2020</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >90$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image256.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image561.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image390.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image917.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image135.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image109.jpg" alt="Tucson Hyundai">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Tucson-image664.jpg" alt="Tucson Hyundai">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Hyundai-Tucson-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">Hyundai Tucson</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2018</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >70$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image625.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image51.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image346.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image547.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image433.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image859.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image777.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Used Mazda-CX-5 Grand Touring-image772.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image210.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image857.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image68.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image646.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image378.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image873.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image976.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mazda-CX-5 Grand Touring-image499.jpg" alt="CX-5 Grand Touring Mazda">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Used%20Mazda-CX-5%20Grand%20Touring-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">Mazda CX-5 Grand Touring</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2019</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >75$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image570.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image959.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image847.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image146.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image306.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image666.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image4.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image857.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image724.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image302.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Toyota-Landcruiser Prado-image860.jpg" alt="Landcruiser Prado Toyota">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Toyota-Landcruiser%20Prado-2020"  class="text-2xl text-center  text-blue-600 font-bold py-2">Toyota Landcruiser Prado</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2020</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >110$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5+</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>3.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image266.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image118.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image158.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image795.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image23.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image901.jpg" alt="Rav4 Toyota">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Hyundai-Rav4-image886.jpg" alt="Rav4 Toyota">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Hyundai-Rav4-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">Toyota Rav4</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2018</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >70$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image956.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image309.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image663.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image153.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image614.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image702.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image835.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image961.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image422.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image619.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image26.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image587.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image580.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image833.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image480.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image841.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image374.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image699.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image493.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image430.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image560.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image576.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image877.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image115.jpg" alt="ML350 Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-ML350-image782.jpg" alt="ML350 Mercedes">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Mitsubishi-Outlander%20Sport-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">Mercedes ML350</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2015</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >100$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>3.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image517.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image780.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image840.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image288.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image994.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image568.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mitsubishi-Outlander Sport-image492.jpg" alt="Outlander Sport Mitsubishi">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Mitsubishi-Outlander%20Sport-2019"  class="text-2xl text-center  text-blue-600 font-bold py-2">Mitsubishi Outlander Sport</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2019</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >50$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image723.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image687.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image139.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image329.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image655.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image491.jpg" alt="Highlander TOYOTA">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/TOYOTA-Highlander-image831.jpg" alt="Highlander TOYOTA">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/TOYOTA-Highlander-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">TOYOTA Highlander</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2018</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >100$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>3.5</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image594.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image811.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image965.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image914.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image87.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image840.webp" alt="Crosstrek Subaru">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Subaru-Crosstrek-image428.webp" alt="Crosstrek Subaru">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Subaru-Crosstrek-2017"  class="text-2xl text-center  text-blue-600 font-bold py-2">Subaru Crosstrek</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2017</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >55/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image751.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image647.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image168.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image452.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image62.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image775.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image287.jpg" alt="GLC Mercedes">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/Mercedes-GLC-image812.jpg" alt="GLC Mercedes">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/Mercedes-GLC-2019"  class="text-2xl text-center  text-blue-600 font-bold py-2">Mercedes GLC</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2019</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >100/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image636.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image326.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image521.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image368.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image367.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image285.jpg" alt="Tucson HYUNDAI">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/HYUNDAI-Tucson-image142.jpg" alt="Tucson HYUNDAI">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/HYUNDAI-Tucson-2019"  class="text-2xl text-center  text-blue-600 font-bold py-2">HYUNDAI Tucson</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2019</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >70$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2.0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>
                                            <div class="lg:col-span-4 col-span-12 w-full">
                            <div class="flex flex-col  bg-white py-2 rounded-lg my-2 w-full overflow-hidden px-2">
            <div class="swiper gallery w-full">
            <div class="swiper-wrapper max-h-[400px]  ">
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image843.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image675.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image93.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image460.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image698.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image757.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image593.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                                    <div class="swiper-slide">

                        <img class="rounded-lg " src="/images/LAND ROVER-RANGE ROVER EVOQUE-image352.jpg" alt="RANGE ROVER EVOQUE LAND ROVER">
                    </div>
                            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="flex lg:flex-row flex-col items-center justify-between px-4  border-b ">
        <a href="https://chichorent.ge/ka/car/LAND%20ROVER-RANGE%20ROVER%20EVOQUE-2018"  class="text-2xl text-center  text-blue-600 font-bold py-2">LAND ROVER RANGE ROVER EVOQUE</a>
        <p class="px-4 bg-blue-600 text-white text-2xl rounded-lg font-bold text-gray-600"> 2018</p>
    </div>
    <p class="text-center text-xl py-2 bg-gray-100 font-bold" >100$/დღე</p>
    <div class="flex flex-col gap-4 bg-white rounded-lg">
        <div class="flex flex-col   py-4 ">
    <div class="flex flex-row hover:bg-gray-100  items-center px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>კარები</p>
        <p>4/5</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  items-center  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>წამყვანი</p>
        <p>4x4</p>
    </div>
    <div class="flex flex-row hover:bg-gray-100  px-4 items-center justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>ძრავი</p>
        <p>2 0</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100  px-4 justify-between border-b py-2 border-gray-300 border-opacity-30">
        <p>გადაცემა</p>
        <p>ავტომატი</p>
    </div>
</div>
    </div>
    <!-- <button class="py-2 bg-blue-500 text-white font-bold hover:opacity-80 text-xl w-80 mx-auto rounded-md">Rent now</button> -->
    <div class="flex flex-row gap-4 px-5 py-4 items-center justify-around">
            <div class="hidden lg:block md:block border-dashed border-2 text-lg border-blue-700 px-2 rounded">
            568 166 688
           </div>
           <div class="flex flex-row items-center items-center justify-between">

            <a href="tel:+995568166688" class="text-blue-600 px-2 text-xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class=" px-2 text-2xl hover:bg-gray-200 rounded-lg p-2" target="_blank"  href="https://www.instagram.com/chichorent.ge/"> 
                <img src="/images/instagram.svg" class="w-6 h-6" />
        </a>
                <a  href="https://wa.me/995568166688" target="_blank"  class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-whatsapp" style="color: #30c048;"></i>
                </a>
                <a href="viber://add?number=995568166688" class="text-green-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-viber" style="color: #671494;"></i>
                </a>
                <a href="https://t.me/+995568166688" target="_blank"  class="text-blue-500 px-2 text-2xl hover:bg-gray-200 rounded-lg p-2">
                    <i class="fa-brands fa-telegram"></i>
                </a>
           </div>

    </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {


        var slider = new Swiper ('.gallery', {
            slidesPerView:1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    });
</script>


                        </div>

            </div>
        </div>
    </div>
    </main>
</div>
<link rel="modulepreload" href="https://chichorent.ge/build/assets/app-6870bb4e.js" /><script type="module" src="https://chichorent.ge/build/assets/app-6870bb4e.js"></script><script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/assets/dist/js/main.js"></script>
<script src="/assets/lightbox/lightbox.js"></script>

</body>
</html>
